<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>CarVU API Portal</title>
    <link rel='stylesheet' href='/stylesheet/main.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'
    />
  </head>
  <body>
    <div class='container'>
      <div class='login-panel'>
        <h1>Dev Portal Access</h1>
        <p class='subtitle'>Secure entry point for developers to access tools,
          APIs, and resources.</p>

        <form class='login-form'>
          <div class='form-group'>
            <label for='email'>Email <span class='required'>*</span></label>
            <input
              type='email'
              id='email'
              placeholder='Enter your email'
              required
            />
          </div>

          <div class='form-group'>
            <label for='password'>Password
              <span class='required'>*</span></label>
            <div class='password-input'>
              <input
                type='password'
                id='password'
                placeholder='Enter your password'
                required
              />
              <span class='password-toggle'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  width='21'
                  height='20'
                  viewBox='0 0 21 20'
                  fill='none'
                >
                  <path
                    d='M4.18292 11.6021C4.86636 8.32689 7.7182 6 10.9238 6C14.1295 6 16.9813 8.32688 17.6648 11.6021C17.7212 11.8725 17.9861 12.0459 18.2564 11.9895C18.5267 11.933 18.7001 11.6682 18.6437 11.3979C17.8664 7.67312 14.6173 5 10.9238 5C7.23043 5 3.98125 7.67311 3.204 11.3979C3.1476 11.6682 3.32101 11.933 3.59132 11.9895C3.86164 12.0459 4.12651 11.8725 4.18292 11.6021ZM10.9238 8C8.99083 8 7.42383 9.567 7.42383 11.5C7.42383 13.433 8.99083 15 10.9238 15C12.8568 15 14.4238 13.433 14.4238 11.5C14.4238 9.567 12.8568 8 10.9238 8ZM8.42383 11.5C8.42383 10.1193 9.54312 9 10.9238 9C12.3045 9 13.4238 10.1193 13.4238 11.5C13.4238 12.8807 12.3045 14 10.9238 14C9.54312 14 8.42383 12.8807 8.42383 11.5Z'
                    fill='#2B3545'
                  />
                </svg>
              </span>
            </div>
          </div>

          <button type='submit' class='login-button'>Log in</button>
        </form>
      </div>

      <div class='info-panel'>
        <div class='info-panel-content'>
          <h2>CarVU API Playbook</h2>
          <p>Structured insights and examples for working with CarVU APIs.</p>
        </div>
      </div>
    </div>
  </body>
</html>